apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    run: app-frontend
  name: app-frontend
spec:
  containers:
  - image: dochombo/otus:frontend.v1
    name: app-frontend
    resources: {}
  dnsPolicy: ClusterFirst
  restartPolicy: Never
status: {}
